<h1>Bem vindo à biblioteca virtual</h1>

<ul> 
<%= link_to "Autores", authors_path%></br>
<%= link_to "Bibliotecários", librarians_path%></br>
<%= link_to "Categorias", categories_path%></br>
<%= link_to "Clientes", clients_path%></br>
<%= link_to "Livros", books_path%></br>
<%= link_to "Reservas", reservations_path%>
</ul> 