<p id="notice"><%= notice %></p>
<h1>Livros</h1>
<%= search_form_for @q do |f| %>
  <%= f.label :name_or_author_name_cont, "Pesquisa:" %>
  <%= f.search_field :name_or_author_name_cont %>
  <%= f.submit %>
  <% end %>
<table class="table table-hover table-bordered table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Estoque</th>
      <th>Autor</th>
      <th>Categoria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.name %></td>
        <td><%= book.stock %></td>
        <td><%= book.author.name %></td>
        <td><%= book.category.name %></td>
        <td><%= link_to 'Exibir', book %></td>
        <td><%= link_to 'Editar', edit_book_path(book) %></td>
        <td><%= link_to 'Excluir', book, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo livro', new_book_path %>
