<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @book.stock %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @book.category.name %>
</p>

<%= link_to 'Editar', edit_book_path(@book) %> |
<%= link_to 'Voltar', books_path %>
