<p id="notice"><%= notice %></p>

<h1>Reservas</h1>
<table class="table table-hover table-bordered table-striped">
  <thead>
    <tr>
      <th>Livro</th>
      <th>Cliente</th>
      <th>Bibliotecário</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.book.name %></td>
        <td><%= reservation.client.name %></td>
        <td><%= reservation.librarian.email %></td>
        <td><%= link_to 'Exibir', reservation %></td>        
        <td><%= link_to 'Excluir', reservation, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova reserva', new_reservation_path %>
