<p id="notice"><%= notice %></p>

<h1>Bibliotecários</h1>
<table class="table table-hover table-bordered table-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @librarians.each do |librarian| %>
      <tr>
        <td><%= librarian.email %></td>
        <td><%= link_to 'Exibir', librarian %></td>
        <td><%= link_to 'Editar', edit_librarian_path(librarian) %></td>
        <td><%= link_to 'Excluir', librarian, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo bibliotecário', new_librarian_path %>
