<!-- Main Header -->
<header class="main-header">

  <!-- Logo -->
  <a href="/" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>A</b>LT</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Biblioteca</b></span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">   
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->
        <li class="dropdown messages-menu">
        <li><%= link_to "Autores", authors_path%></li>
        <li><%= link_to "Bibliotecários", librarians_path%></li>
        <li><%= link_to "Categorias", categories_path%></li>
        <li><%= link_to "Clientes", clients_path%></li>
        <li><%= link_to "Livros", books_path%></li>
        <li><%= link_to "Reservas", reservations_path%></li>
          <!-- Menu toggle button -->
          
          <ul class="dropdown-menu">
            
            
              <ul class="menu">
                <li><!-- start message -->
                  <a href="#">
                    <div class="pull-left">
                    <li><%= link_to "Autores", authors_path%></li>
                    <li><%= link_to "Bibliotecários", librarians_path%></li>
                    <li><%= link_to "Categorias", categories_path%></li>
                    <li><%= link_to "Clientes", clients_path%></li>
                    <li><%= link_to "Livros", books_path%></li>
                    <li><%= link_to "Reservas", reservations_path%></li>
                    <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>

                </li><!-- end message -->
              </ul><!-- /.menu -->
            </li>
            <li class="footer"><a href="#">See All Messages</a></li>
          </ul>
        </li><!-- /.messages-menu -->

        
        <!-- User Account Menu -->
        <li class="dropdown user user-menu">
          <!-- Menu Toggle Button -->
          
            <!-- The user image in the navbar-->
            <!-- hidden-xs hides the username on small devices so only the image appears. -->
            
          </a>
          <ul class="dropdown-menu">
            <!-- The user image in the menu -->
            <li class="user-header">
             
            </li>
            <!-- Menu Body -->
            <li class="user-body">
              <div class="col-xs-4 text-center">
                <a href="#">Followers</a>
              </div>
              <div class="col-xs-4 text-center">
                <a href="#">Sales</a>
              </div>
              <div class="col-xs-4 text-center">
                <a href="#">Friends</a>
              </div>
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a href="#" class="btn btn-default btn-flat">Profile</a>
              </div>
              <div class="pull-right">
                <a href="#" class="btn btn-default btn-flat">Sign out</a>
              </div>
            </li>
          </ul>
        </li>
        <li>
        <%= link_to "", destroy_user_session_path, method: :delete, class: "fa fa-share-square" %>

        </li>
      </ul>
    </div>
  </nav>
</header>
