<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

  <section class="sidebar">

  <!-- Sidebar user panel (optional) -->
  <div class="user-panel">
    <div style="color: white" class="pull-left">
      
    </div>   
  </div>  
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">Menu: </li>
      
        <li><%= link_to "Autores", authors_path%></li>
        <li><%= link_to "Bibliotecários", librarians_path%></li>
        <li><%= link_to "Categorias", categories_path%></li>
        <li><%= link_to "Clientes", clients_path%></li>
        <li><%= link_to "Livros", books_path%></li>
        <li><%= link_to "Reservas", reservations_path%></li>
      </li>
    </ul><!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
